*{
  margin: 0;
  padding: 0;
}
.logoContainer{
  width: 30%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
}
header{
  z-index: 4;
  width: 100%;
  height: 15vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 1px rgb(233,231,226);
  position: fixed;
}

.logo{
  margin-top: 10px;
  width: 60px;
  height: 60px;
}

.dropDown{
  width: 60%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 600;
  color:black;
  line-height: 14px;
  position: relative;
  color: rgb(8, 31, 137)
 
}

.about{
  margin-top: 30px;
  position: relative;

}

.about:hover .drop{
  display: block;

}

.drop{
  display: none;
  margin-top: 35px;
  width: 250px;
  height: 150px;
  position: absolute;
  background-color: white;
  border-top: solid 2px blue;

  
}

.drop p{
  line-height: 28px;
  margin-left: 20px;
  color: black;
  font-weight: 600;


}

.cotainer1{
  width: 100%;
  height: 70vh;
  background-color: aqua;
}